{{ define "main" }}
  {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

  {{ $PageContext := . }}
  {{ if .IsHome }}
    {{ $PageContext = .Site }}
  {{ end }}
  {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}
    <div style = 'width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  @media ($tablet) {
    max-width: 660px'>
      <center>
        <!--<img src="https://w.wallhaven.cc/full/v9/wallhaven-v98yxp.jpg" height="500" style="border-radius: 8px;">-->
        <img src="https://user-images.githubusercontent.com/99474195/210228541-9669ddff-3e33-422e-91cc-2ffc49dfd947.png" height="300" style="border-radius: 8px;">
      </center>
    <h1>
    Hello there!
    </h1>
    <p>
      Twenty-five stars were neatly placed on the piece of paper. There was room for five more stars but they would be difficult ones to earn. It had taken years to earn the first twenty-five, and they were considered the "easy" ones.
    </p>
  </div>

  <div class="posts">
    {{ range $paginator.Pages }}
    <article class="post on-list">
      <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
      <div class="post-meta">
        {{ if .Date }}
          <time class="post-date">
            {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
          </time>

          {{ if $.Site.Params.LastModDisplay }}
            {{ partial "lastmod.html" . }}
          {{ end }}
        {{ end }}

        {{ with .Params.Author }}
          <span class="post-author">— {{ $.Site.Params.WrittenBy | default "Written by" }} {{ . }}</span>
        {{ end }}

        {{ if $.Site.Params.ShowReadingTime }}
          <span class="post-read-time">— {{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span>
        {{ end }}
      </div>

      {{ if .Params.tags }}
        <span class="post-tags">
          {{ range .Params.tags }}
            <a href="{{ (urlize (printf "tags/%s" . )) | absLangURL }}/">#{{ . }}</a>&nbsp;
          {{ end }}
        </span>
      {{ end }}

      {{ if .Params.Cover }}
        {{ partial "postcover.html" . }}
      {{ end }}

      <div class="post-content">
        {{ with .Description }}
          {{ . | markdownify }}
        {{ else }}
          {{ if .Truncated }}
            {{ .Summary }}
          {{ end }}
        {{ end }}
      </div>
      {{ if not .Params.hideReadMore }}
        <div><a class="read-more button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore | default "Read more" }} →</a></div>
      {{ end }}
    </article>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
